<?xml version="1.0" encoding="UTF-8"?>
<!-- PHPUnit 12 config for the workspace-copy Cover runner. The generated tests are PHPUnit-class style
     (Pest-compatible for the consuming repo). <source> drives Infection's coverage collection (PCOV). -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true">
  <testsuites>
    <testsuite name="cover">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
